# Network
listen_address: 0.0.0.0
port: 9090
host_handler: yaas

# Activation
system_username: tch
devkey_script_path: /home/tch/ParaguayEduca/yaas/yaas-server/test/fake_script.rb
lease_script_path: /home/tch/ParaguayEduca/yaas/yaas-server/test/fake_script.rb

# Security
# WARNING: An empty array disables the IP level security
allowed_ip_addresses: [127.0.0.1]
