# Network
bind_address: 0.0.0.0
port: 9090
host_handler: yaas

# Activation
system_username: tch
devkey_script_path: /home/tch/ParaguayEduca/yaas/yaas-server/test/fake_script.rb
lease_script_path: /home/tch/ParaguayEduca/yaas/yaas-server/test/fake_script.rb

# Security
private_key_path: /home/tch/ssl-test/tch-pkey.pem
certificate_path: /home/tch/ssl-test/tch-cert.pem
secret_keyword: hellotch
allowed_ip_addresses: []
